# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
wheels/
*.egg-info/
.installed.cfg
htmlcov/
.tox/
.venv
venv/
ENV/
env/
*.egg

# Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*~
*.bak
*.tmp

# Logs and databases
*.log
*.db

# Specific to this project
highscore.txt
